body {
    background: #666666;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    height: 100%;
    text-align: center;
    font-size: 15px;
  }
  
  .wrappper {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
  }
  .wrappper:after {
    content: "";
    display: table;
    clear: both;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin: 5px 0;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1em;
  }
  
  p {
    font-size: 1em;
  }
  
  #alphabet {
    margin: 15px auto;
    padding: 0;
    display: inline-block;
    zoom:1;
        *display: inline;
    max-width: 1100px;
  }
  #alphabet:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #alphabet li {
    float: left;
    margin: 0 5px 5px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    background: #fff;
    color: #666666;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: solid 1px #fff;
  }
  #alphabet li:hover {
    background: #666666;
    border: solid 1px #fff;
    color: #fff;
  }
  
  #word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
  }
  
  #word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
  }
  
  .disabled {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: default;
  }
  .disabled:hover {
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #lives {
    font-size: 1em;
    text-align: center;
    display: block;
  }
  
  button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #666666;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #666666;
  }

  .activated{
    background: #fff;
    border: solid 1px #fff;
    color: #666666;
  }

  #startGame {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
  }

  .preference {
    justify-content: space-between;
    margin: 5px;
    font-size: 0.8em;
}